<ion-header class="ionic_toolbar">
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <ion-icon name="appname-menu" style="color:white;font-size: 1.8em;" (click)="OnOpenMenu()"></ion-icon>
                </ion-col>
                <ion-col col-4><div align="center"><img src="imgs/logo.png" style="width:80%"/></div></ion-col>
                <ion-col col-4>
                    <ion-icon name="appname-settings_prof" style="color:white;float:right;font-size: 2.5em;margin-top: -4px;" (click)="settings()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col col-6 style="padding-left:21px">
                    <img src="imgs/user_profile_1.png" style="width:61%" /> <!-- {{user_image}} -->
                </ion-col>

                <ion-col col-6 style="margin-left: -40px;">

                    <div align="right">
                        <img src="imgs/location.png" style="width:11%;margin-right: 49px;margin-bottom: 5px;" />
                        <p style="color:white;margin-top: -25px;padding-right: 34px;font-size: 0.75em;">UK</p>
                        <!-- {{location}} -->
                    </div>

                    <div>
                        <!--div *ngIf="verified === '1' || verified === 1" align="right"><img src="imgs/tick.png" style="width: 15%;" /></div-->
                        <div align="right">
                            <img src="imgs/profile_box.png" style="width:81%" />
                            <img src="imgs/tick.png" style="width: 15%;" /></div>
                    </div>

                    <div align="center" style="margin-top: 6px; margin-left: -25px;">
                        <!--p style="color:white;font-size: 1.75em;margin-left: -34px;">0000<b style="color:#ff7200">3125</b>  <!-- {{followers}} -->
                        <img src="imgs/digit.png" style="width: 60%;" />
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>

    <div style="background-color: #2a3040;margin-top: -4px;">
        <ion-segment [(ngModel)]="profile">
            <ion-segment-button style="text-transform: none;font-size: 1em;" value="stack">
                Stack
            </ion-segment-button>
            <ion-segment-button style="text-transform: none;font-size: 1em;" value="pairs">
                Pairs
            </ion-segment-button>
            <ion-segment-button style="text-transform: none;font-size: 1em;" value="reviews">
                Reviews
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-header>

<ion-content [fullscreen]="true">
    <div [ngSwitch]="profile" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)"
        class="swipe-area" style="margin-top:5px">
        <ion-list *ngSwitchCase="'stack'">

            <ion-grid style="margin-left: -6px; margin-top:15px" no-padding>
                <!--style="margin-top: 10px;" -->
                <ion-row>

                    <ion-col col-6 *ngFor="let post of products,let i = index">

                        <ion-card [class.highlight]=" i === selected" class="change-color" (click)="addEvent1(i, post.image, post.product_name, post.price);">
                            <!--style="margin-top:-5px"-->

                            <div align="center" style="padding-top:5px;padding-bottom:5px">
                                <img src="{{post.image}}" style="width:90%" />
                            </div>

                            <div align="center" style="margin-top: 19px">
                                <img src="imgs/line.png" />
                            </div>

                            <div style="margin-top: 10px;padding-bottom:15px">
                                <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">{{post.product_name}}</h4>
                                <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">${{post.price}}</b>
                                <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                    <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" style="color:#ff7200;font-size: 1.65em;"
                                        (click)="refresh_alert()"></ion-icon>
                                </div>
                            </div>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>



        <ion-list *ngSwitchCase="'pairs'">

            <ion-grid style="margin-left: -6px; margin-top:15px" no-padding>
                <!--style="margin-top: 10px;" -->
                <ion-row>

                    <ion-col col-6 *ngFor="let cost of pairs,let i = index">

                        <ion-card [class.highlight-pairs]=" i === selected_pairs" class="change-color-pairs" (click)="addEventPairs(i, cost.image, cost.product_name, cost.price);">
                            <!--style="margin-top:-5px"-->

                            <div align="center" style="padding-top:5px;padding-bottom:5px">
                                <img src="{{cost.image}}" style="width:90%" />
                            </div>

                            <div align="center" style="margin-top: 19px">
                                <img src="imgs/line.png" />
                            </div>

                            <div style="margin-top: 10px;padding-bottom:15px">
                                <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">{{cost.product_name}}</h4>
                                <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">${{cost.price}}</b>
                                <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                    <ion-icon ios="ios-pricetag" md="md-pricetag" style="color:#cd3d3c;font-size: 1.65em;"
                                        (click)="refresh_alert()"></ion-icon>
                                </div>
                            </div>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-list>

        <ion-list *ngSwitchCase="'reviews'">

            <ion-list *ngFor="let toast of user_reviews, let i = index">
                <ion-item style="margin-top: -14px;">
                    <ion-avatar item-start>
                        <img src="{{toast.image}}">
                    </ion-avatar>
                    <h2>//{{toast.user_name}}</h2>
                    <img src="imgs/rating.png" style="width: 20%;margin-top: 0px;margin-left: -2px;" />
                    <p text-wrap>{{toast.review}}</p>
                    <p style="color:rgb(210, 210, 216);font-size:0.65em" (click)="onButtonClick(i)">Reply</p>
                </ion-item>

                <div *ngIf="i === selectedreview" style="background-color:#f4f4f4;height: 40px;width: 82%;margin-left: 67px;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-10>
                                <ion-input class="chat_screen" type="text" placeholder=" Type your message here...."></ion-input>
                            </ion-col>
                            <ion-col col-2 style="margin-top: -13px;">
                                <ion-icon name="ios-send-outline" style="font-size: 3.0em;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

            </ion-list>
        </ion-list>




    </div>

</ion-content>