<ion-header class="ionic_toolbar">
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <ion-icon name="ios-menu-outline" style="color:white;" (click)="OnOpenMenu()"></ion-icon>
                </ion-col>
                <ion-col col-4><img src="imgs/logo.png" /></ion-col>
                <ion-col col-4><ion-icon name="ios-settings-outline" style="color:white;float:right" (click)="settings()"></ion-icon></ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col col-6 style="padding-left:21px">
                    <img src="imgs/user_image.png" style="width:61%" />
                </ion-col>

                <ion-col col-6 style="margin-left: -40px;">

                    <div align="right">
                        <img src="imgs/location.png" style="width:13%;margin-right: 33px;margin-bottom: 1px;" />
                        <p style="color:white;margin-top: -25px;padding-right: 17px;font-size: 0.75em;">UK</p>
                    </div>

                    <div>
                        <div align="right"><img src="imgs/tick.png" style="width: 15%;" /></div>
                        <ion-card style="background-color:#ff7200;margin-top: -31px;margin-left: -4px;">
                            <p style="color:white;font-size: 1.5em;">&nbsp;//&nbsp;mrbullardi</p> <!-- //Username  -->
                        </ion-card>
                    </div>

                    <div align="center" style="margin-top: -18px;">
                        <p style="color:white;font-size: 1.75em;margin-left: -34px;">0000<b style="color:#ff7200">3125</b>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>

    <div style="background-color: #2a3040;margin-top: -15px;">
        <ion-segment [(ngModel)]="profile">
            <ion-segment-button style="text-transform: none" value="stack">
                Stack
            </ion-segment-button>
            <ion-segment-button style="text-transform: none" value="pairs">
                Pairs
            </ion-segment-button>
            <ion-segment-button style="text-transform: none" value="reviews">
                Reviews
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-header>

<ion-content>

    <div [ngSwitch]="profile" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)"
        class="swipe-area" style="margin-top:5px">

        <ion-list *ngSwitchCase="'stack'">

            <ion-grid style="margin-left:-6px">
                <ion-row>
                    <ion-col>

                        <div>
                            <ion-card (click)="addEvent1();" [ngStyle]="{'border-top-color':buttonColor, 'border-bottom-color':buttonColor, 'border-right-color':buttonColor, 'border-left-color':buttonColor}"
                                style="border-radius:12px 12px;height: 230px;;width:95%; border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;">

                                <div align="center" style="padding-top:5px;padding-bottom:5px">
                                    <img src="imgs/shoes.png" style="width:72%" />
                                </div>

                                <div style="margin-top: 50px;">

                                    <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">Red wing moc toe</h4>
                                    <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">$190</b>

                                    <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                        <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" style="color:#ff7200;font-size: 1.65em;"
                                            (click)="refresh_alert()"></ion-icon>
                                    </div>

                                </div>

                            </ion-card>
                        </div>
                        
                    </ion-col>

                    <ion-col>

                        <div>
                            <ion-card (click)="addEvent2();" [ngStyle]="{'border-top-color':buttonColor1, 'border-bottom-color':buttonColor1, 'border-right-color':buttonColor1, 'border-left-color':buttonColor1}"
                                style="border-radius:12px 12px;height: 230px;;width:95%; border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;">

                                <div align="center" style="padding-top:5px;padding-bottom:5px">
                                    <img src="imgs/shoe1.png" style="width:72%" />
                                </div>
                                <div style="margin-top: 50px;">
                                    <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">Red wing moc toe</h4>
                                    <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">$190</b>
                                    <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                        <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" style="color:#ff7200;font-size: 1.65em;"></ion-icon>
                                    </div>
                                </div>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>



        <ion-list *ngSwitchCase="'pairs'">

            <ion-grid style="margin-left:-6px">
                <ion-row>
                    <ion-col>

                        <div>
                            <ion-card (click)="addEvent1();" [ngStyle]="{'border-top-color':buttonColor, 'border-bottom-color':buttonColor, 'border-right-color':buttonColor, 'border-left-color':buttonColor}"
                                style="border-radius:12px 12px;height: 230px;;width:95%; border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;">

                                <div align="center" style="padding-top:5px;padding-bottom:5px">
                                    <img src="imgs/shoes.png" style="width:72%" />
                                </div>

                                <div style="margin-top: 50px;">

                                    <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">Red wing moc toe</h4>
                                    <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">$190</b>
                                    <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                        <ion-icon ios="ios-pricetag" md="md-pricetag" style="color:#cd3d3c;font-size: 1.65em;"></ion-icon>
                                    </div>

                                </div>

                            </ion-card>
                        </div>
                    </ion-col>

                    <ion-col>

                        <div>
                            <ion-card (click)="addEvent2();" [ngStyle]="{'border-top-color':buttonColor1, 'border-bottom-color':buttonColor1, 'border-right-color':buttonColor1, 'border-left-color':buttonColor1}"
                                style="border-radius:12px 12px;height: 230px;;width:95%; border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;">

                                <div align="center" style="padding-top:5px;padding-bottom:5px">
                                    <img src="imgs/shoe1.png" style="width:72%" />
                                </div>
                                <div style="margin-top: 50px;">
                                    <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">Red wing moc toe</h4>
                                    <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">$190</b>
                                    <div align="right" style="margin-top: -22px;padding-right: 6px;">
                                        <ion-icon ios="ios-pricetag" md="md-pricetag" style="color:#cd3d3c;font-size: 1.65em;"></ion-icon>
                                    </div>
                                </div>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-list>

        <ion-list *ngSwitchCase="'reviews'">

            <ion-list>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="imgs/user_image.png">
                    </ion-avatar>
                    <h2>//butterfly</h2>
                    <img src="imgs/rating.png" style="width: 20%;margin-top: 0px;margin-left: -2px;" />
                    <p text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua</p>
                    <p style="color:blue;font-size:0.65em" (click)="onButtonClick()">Reply</p>
                </ion-item>

                <div *ngIf="buttonClicked" style="background-color:#f4f4f4;height: 40px;width: 82%;margin-left: 67px;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-10>
                                <ion-input class="chat_screen" type="text" placeholder=" Type your message here...."
                                   ></ion-input>
                            </ion-col>
                            <ion-col col-2 style="margin-top: -13px;">
                                <ion-icon name="ios-send-outline" style="font-size: 3.0em;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="imgs/user_image.png">
                    </ion-avatar>
                    <h2>//joeyhac</h2>
                    <img src="imgs/rating.png" style="width: 20%;margin-top: 0px;margin-left: -2px;" />
                    <p text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua</p>
                    <p style="color:blue;font-size:0.65em">Reply</p>
                </ion-item>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="imgs/user_image.png">
                    </ion-avatar>
                    <h2>//jadassy</h2>
                    <img src="imgs/rating.png" style="width: 20%;margin-top: 0px;margin-left: -2px;" />
                    <p text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua</p>
                    <p style="color:blue;font-size:0.65em">Reply</p>
                </ion-item>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="imgs/user_image.png">
                    </ion-avatar>
                    <h2>//greg</h2>
                    <img src="imgs/rating.png" style="width: 20%;margin-top: 0px;margin-left: -2px;" />
                    <p text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua</p>
                    <p style="color:blue;font-size:0.65em">Reply</p>
                </ion-item>

            </ion-list>

            <!-- <div *ngIf="buttonClicked" style="background-color:#f4f4f4;height: 60px;">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-10>
                               
                                    <ion-input class="chat_screen" type="text" placeholder=" Type your message here...." style="color:white"></ion-input>
                                
                            </ion-col>
                            <ion-col col-2>
                                    <ion-icon name="ios-send-outline" style="font-size: 3.0em;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
            </div> -->

        </ion-list>


    </div>

</ion-content>