page-about {
    .toolbar-background-md {
        color: white;
        background-color: #2a3040;
    }

    .text-input {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
        display: inline-block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 92%;
        width: calc(100% - 10px);
        border: 0;
        background: lightgrey;
    }

    .text-input-ios {
        margin: -7px 6px 13px -5px;
        padding: 6px;
        width: calc(98% - 2px);
    }
    .chat_screen{
        border-top-color : black;
        border-bottom-color : black;
        border-right-color : black;
        border-left-color : black;
    }

    .page-about .text-input {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 5px 5px;
        display: inline-block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: calc(100% - 10px);
        background: lightgrey;
    }
    .text-input-md {
        margin: -9px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        height: 38px;
    }

    .change-color
  {
    border-radius: 12px 12px;
    border-top-color:#f4f4f4 !important;
    border-bottom-color:#f4f4f4 !important;
    border-right-color:#f4f4f4 !important;
    border-left-color:#f4f4f4 !important;
    border-radius:12px 12px;
    border-top: 2px solid;
    border-bottom: 2px solid; 
    border-left: 2px solid;
    border-right: 2px solid;
    width: 96%;
    margin-top: -6px;
  }


//onclick change bg
  .highlight
  {
    border-radius: 12px 12px;
    border-top-color:#ff7600 !important;
    border-bottom-color:#ff7600 !important;
    border-right-color:#ff7600 !important;
    border-left-color:#ff7600 !important;
    border-radius:12px 12px;
    border-top: 4px solid;
    border-bottom: 4px solid; 
    border-left: 4px solid;
    border-right: 4px solid; 
    width: 96%;
    margin-top: -6px;
  }

  .change-color-pairs
  {
    border-radius: 12px 12px;
    border-top-color:#f4f4f4 !important;
    border-bottom-color:#f4f4f4 !important;
    border-right-color:#f4f4f4 !important;
    border-left-color:#f4f4f4 !important;
    border-radius:12px 12px;
    border-top: 2px solid;
    border-bottom: 2px solid; 
    border-left: 2px solid;
    border-right: 2px solid;
    width: 96%;
    margin-top: -6px;
  }


//onclick change bg
  .highlight-pairs
  {
    border-radius: 12px 12px;
    border-top-color:#ff7600 !important;
    border-bottom-color:#ff7600 !important;
    border-right-color:#ff7600 !important;
    border-left-color:#ff7600 !important;
    border-radius:12px 12px;
    border-top: 4px solid;
    border-bottom: 4px solid; 
    border-left: 4px solid;
    border-right: 4px solid; 
    width: 96%;
    margin-top: -6px;
  }

  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: -39px 11px 12px 0;
}
}
