page-edit-profile {
    ion-avatar,
    ion-avatar > img{
        border-radius:50%;
        height:12rem;
        width:12rem;
    }

    .change-image{
        border-radius:50%;
        height:12rem;
        width:12rem;
    }
    .default{
        width:27%
    }
}
