<ion-header class="ionic_toolbar">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-icon name="appname-menu" style="color:white;font-size: 1.8em;" (click)="OnOpenMenu()"><b></b></ion-icon>
        </ion-col>
        <ion-col col-4><img src="imgs/logo.png" style="width:100%" /></ion-col>
        <ion-col col-4>
          <ion-icon name="ios-options-outline" style="color:white;float:right" (click)="filter()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
  <div style="background-color: #2a3040">
    <ion-segment [(ngModel)]="pairs" style="text-transform: none">
      <ion-segment-button style="text-transform: none;font-size: 1em;" value="discover">
        Discover
      </ion-segment-button>
      <ion-segment-button style="text-transform: none;font-size: 1em;" value="sizes">
        Sizes
      </ion-segment-button>
      <ion-segment-button style="text-transform: none;font-size: 1em;" value="brands">
        Brands
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <!--div [ngSwitch]="pairs"-->
  <div [ngSwitch]="pairs" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)"
    class="swipe-area">

    <ion-list *ngSwitchCase="'discover'">

      <ion-grid style="margin-left: -6px; margin-top:15px" no-padding>
        <!--style="margin-top: 10px;" -->
        <ion-row>

          <ion-col col-6 *ngFor="let post of products,let i = index">

            <ion-card [class.highlight]=" i === selected" class="change-color" (click)="addEvent1(i, post.image, post.product_name, post.price);">
              <!--style="margin-top:-5px"-->

              <div align="center" style="padding-top:5px;padding-bottom:5px">
                <img src="{{post.image}}" style="width:90%" />
              </div>

              <div align="center" style="margin-top: 19px">
                <img src="imgs/line.png" />
              </div>

              <div style="margin-top: 10px;padding-bottom:15px">
                <h4 style="color:grey;padding-left:5px;font-size: 1.0em;">{{post.product_name}}</h4>
                <b style="color:black;padding-left:7px;padding-bottom:10px;font-size: 1.0em;">${{post.price}}</b>
                <div align="right" style="margin-top: -22px;padding-right: 6px;">
                  <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" style="color:#ff7200;font-size: 1.65em;"
                    (click)="refresh_alert()"></ion-icon>
                </div>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>


    <ion-list *ngSwitchCase="'sizes'">

      <ion-grid style="width: 100%;margin-left: -16px;padding-top: 15px;">
        <ion-row>
          <ion-col col-3 *ngFor="let list of items, let i = index">
            <ion-card style="margin-top:-18px" (click)="sized1(i, list);" [class.highlight_box_size]="i === selected_size"
              class="box_sizes">
              <div align="center">
                <p style="color:#005aac;font-size: 2em;margin-top: 10px;">{{list}}</p>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-list>

    <ion-list *ngSwitchCase="'brands'">

      <div align="center" style="margin-top: -4px;">
        <img src="imgs/custom.png" />
      </div>


      <div class="card-background-page" no-padding>

        <ion-card style="border-radius:12px 12px">
          <img src="imgs/addidas.png" />
        </ion-card>

        <ion-card style="border-radius:12px 12px">
          <img src="imgs/nike.png" />
        </ion-card>

      </div>

      <div align="center">
        <button ion-button full round style="color:white;background-color:#f9c04c;width:90%">ALL</button>
      </div>


      <!-- <ion-fab center>
        <button ion-fab style="background-color:#f9c04c">
          <ion-icon ios="ios-add" md="md-add" style="color:white;zoom:2.0"></ion-icon>
        </button>
      </ion-fab> -->

    </ion-list>


  </div>

</ion-content>

<!-- <ion-footer *ngIf="pairs === brands || pairs === 'brands'" style="background-color:transparent;margin-bottom:58px" no-lines>
<div align="center">
    <button ion-fab style="background-color:#f9c04c">
        <ion-icon ios="ios-add" md="md-add" style="color:white;zoom:2.0"></ion-icon>
      </button>
</div>
</ion-footer> -->