page-settings {
    .toolbar-background-md {
        color: white;
        background-color: #98979f;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
        background-color: transparent;
    }
}
