<ion-content no-bounce>

    <div align="center">
      <img src="imgs/signin_page.png" />
    </div>
  
  
    <ion-list padding style="margin-top: 15px;">
        <form novalidate (ngSubmit)="signup()" [formGroup]="signupform">

            <ion-item>
                <ion-label>
                  <ion-icon name="ios-lock-outline"></ion-icon>
                </ion-label>
                <ion-input  placeholder="Password" type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
              </ion-item>
        
              <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
                <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
                  Please input your password
                </div>
                <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
                  Minimum 6 characters
                </div>
                <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
                  Maximum 12 characters
                </div>
              </ion-item>

              <ion-item>
                  <ion-label>
                    <ion-icon name="ios-lock-outline"></ion-icon>
                  </ion-label>
                  <ion-input  placeholder="Confirm new Password" type="password" [(ngModel)]="userData.conpassword" formControlName="conpassword" [class.error1]="!signupform.controls.conpassword.valid && signupform.controls.conpassword.dirty"></ion-input>
                </ion-item>
          
                <ion-item no-lines *ngIf="( signupform.get('conpassword').hasError('minlength') || signupform.get('conpassword').hasError('maxlength') ||signupform.get('conpassword').hasError('required') ) && signupform.get('conpassword').touched">
                  <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
                    Please input your password
                  </div>
                  <div class="error" *ngIf="signupform.get('conpassword').hasError('minlength') && signupform.get('conpassword').touched">
                    Minimum 6 characters
                  </div>
                  <div class="error" *ngIf="signupform.get('conpassword').hasError('maxlength') && signupform.get('conpassword').touched">
                    Maximum 12 characters
                  </div>
                </ion-item>

  
        <div *ngIf="signupform.invalid" align="center" style="padding-left:15px; padding-right:15px;margin-top: 20px;">
            <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;" [ngStyle]="{'background-color': buttonColor, 'color': buttonColor2}">Submit</button>
            </div>
  
        <div align="center" *ngIf="!signupform.invalid" style="padding-left:15px; padding-right:15px;margin-top: 20px;">
          <button ion-button round full  type="submit" ion-button block color="signin_button"><b style="color:white">Submit</b></button>
          </div>
  
          
      </form>
    </ion-list>
  
    <div align="center">
      <p>Please enter your new password.</p>
    </div> 
  
    <div align="center" style="margin-top: 80px;">
        <p style="margin-top:40px">By using this application you agree to our</p>
        <p style="margin-top:-10px"><b style="color:#0077c8">Terms of Use</b>&nbsp;and&nbsp;<b style="color:#0077c8">Privacy Policy</b></p>
      </div>
  
  </ion-content>
