<ion-content no-bounce>

  <div align="center">
    <img src="imgs/signin_page.png" />
  </div>

  <ion-list padding>


    <ion-item>
      <ion-label>
        <ion-icon name="ios-person-outline"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Username" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="ios-lock-outline"></ion-icon>
      </ion-label>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item style="display:none">
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div align="center" style="padding-left:15px;padding-right:15px;">
    <!--img src="imgs/login_button.png" style="width: 84%;" (click)="signin()"/-->
    <button ion-button round (click)="addEvent();" style="width:90%;border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;" [ngStyle]="{'background-color': buttonColor, 'color': buttonColor2}">Login</button>
    <!--button ion-button round full style="background-color:transparent;color: #0077c8;padding-left:15px;padding-right:15px;" (click)="someAction()">Login</button-->
  </div>

  <div align="center">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <p style="color:#0077c8">Forgot Password ?</p>
        </ion-col>
        <ion-col col-6>
          <p style="color:#0077c8" (click)="sendto()">Create Account</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div align="center">
    <img src="imgs/login_with.png" style="width: 59%;"/>
  </div>

  <div align="center" style="margin-top:5px;">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img src="imgs/social_fb.png"/>
        </ion-col>
        <ion-col col-6>
          <img src="imgs/social_twitter.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <ion-list>
      <form novalidate (ngSubmit)="signup()" [formGroup]="signupform">
        <ion-item>
          <ion-label floating>Name </ion-label>
          <ion-input type="text" [(ngModel)]="userData.name" formControlName="name" [class.error1]="!signupform.controls.name.valid && signupform.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( signupform.get('name').hasError('minlength') || signupform.get('name').hasError('maxlength') ||signupform.get('name').hasError('pattern') ||signupform.get('name').hasError('required') ) && signupform.get('name').touched">
          <div class="error" *ngIf="signupform.get('name').hasError('required') && signupform.get('name').touched">
            Please input your name
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('minlength') && signupform.get('name').touched">
            Minimum 4 characters
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('maxlength') && signupform.get('name').touched">
            Maximum 30 characters
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('pattern') && signupform.get('name').touched">
            Just use alphabet character
          </div>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
          <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
            Please input your email
          </div>
          <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
            Email address invalid
          </div>
        </ion-item>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="userData.username" formControlName="username" [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"></ion-input>
        </ion-item>
  
        <ion-item no-lines *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
          <div class="error" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
            Please input your username
          </div>
          <div class="error" *ngIf="signupform.get('username').hasError('minlength') && signupform.get('username').touched">
            Minimum 4 characters
          </div>
          <div class="error" *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
            Maximum 10 characters
          </div>
          <div class="error" *ngIf="signupform.get('username').hasError('pattern') && signupform.get('username').touched">
            Just use alphabet character
          </div>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
        </ion-item>
  
        <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
          <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
            Please input your password
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
            Minimum 6 characters
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
            Maximum 12 characters
          </div>
        </ion-item>
        <button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">SIGNUP</button>
      </form>
    </ion-list>

    

</ion-content>


