<ion-content no-bounce>

  <div align="center">
    <img src="imgs/signin_page.png"/>
  </div>

  <!--ion-list padding>
    <form novalidate (ngSubmit)="signup()" [formGroup]="signupform">

    <ion-item>
      <ion-label>
        <ion-icon name="ios-person-outline"></ion-icon>
      </ion-label>
      <ion-input placeholder="Username" type="text" [(ngModel)]="user_name"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label>
        <ion-icon name="ios-lock-outline"></ion-icon>
      </ion-label>
      <ion-input  placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="ios-lock-outline"></ion-icon>
      </ion-label>
      <ion-input  placeholder="Confirm Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="ios-mail-outline"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
      <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
        Please input your email
      </div>
      <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
        Email address invalid
      </div>
    </ion-item>

    <ion-item style="display:none">
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <div align="center" style="padding-left:15px; padding-right:15px">
      <button ion-button round full style="background-color:transparent;color:#0077c8">Create Account</button>
      </div>

    </form>
  </ion-list>



  <div align="center">
    <p style="margin-top:40px">By using this application you agree to our</p>
    <p style="margin-top:-10px"><b style="color:#0077c8">Terms of Use</b>&nbsp;and&nbsp;<b style="color:#0077c8">Privacy Policy</b></p>
  </div-->




  <ion-list padding>
    <form novalidate (ngSubmit)="signup()" [formGroup]="signupform">
   
      <ion-item>
        <ion-label>
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Username" type="text" [(ngModel)]="userData.username" formControlName="username" [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
        <div class="error" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="signupform.get('username').hasError('minlength') && signupform.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="signupform.get('username').hasError('pattern') && signupform.get('username').touched">
          Just use alphabet character
        </div>
      </ion-item> 
    
      <ion-item>
        <ion-label>
          <ion-icon name="ios-lock-outline"></ion-icon>
        </ion-label>
        <ion-input  placeholder="Password" type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="ios-lock-outline"></ion-icon>
        </ion-label>
        <ion-input  placeholder="Confirm Password" type="password"></ion-input>
      </ion-item>

      <!-- <ion-item no-lines *ngIf="( signupform.get('userData.password') != signupform.get('userData.conpassword') )">
        <div class="error">
          Passwords do not match
        </div>
      </ion-item> -->


     <ion-item>
      <ion-label>
        <ion-icon name="ios-mail-outline"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty" placeholder="Email"></ion-input>
    </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          Email address invalid
        </div>
      </ion-item>



      <!--button type="submit" ion-button block color="primary" [disabled]="signupform.invalid">SIGNUP</button-->

      <div *ngIf="signupform.invalid" align="center" style="padding-left:15px; padding-right:15px;padding-top:10px">
          <button ion-button round full style="border-top: 2px solid; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid;" [ngStyle]="{'background-color': buttonColor, 'color': buttonColor2}">Create Account</button>
          </div>

      <div align="center" *ngIf="!signupform.invalid" style="padding-left:15px; padding-right:15px; padding-top:10px">
        <button ion-button round full  type="submit" ion-button block color="signin_button"><b style="color:white">Create Account</b></button>
        </div>

        
    </form>
  </ion-list>

  <div align="center">
    <p style="margin-top:40px">By using this application you agree to our</p>
    <p style="margin-top:-10px"><b style="color:#0077c8">Terms of Use</b>&nbsp;and&nbsp;<b style="color:#0077c8">Privacy Policy</b></p>
  </div>

</ion-content>

